<% include('html/js/index.js'); %>

<h1><%= myvar %></h1>
<span>Comming from strings.json: <%= strings.default.APPLICATION_NAME %></span><br/>
<button onclick="<%= trigger(myfunc) %>" >TEST bridge</button>