<% include('lib/coffee-script.js'); %>
<% include('html/js/index.js'); %>

<div id="citron_div">
    <h1><%= myvar %></h1>
    <span>Comming from strings.json: <%= strings.default.APPLICATION_NAME %></span><br/>
    <button onclick="<%= trigger(myfunc) %><%= trigger(coffeeFunc) %>">TEST bridge</button><br/>
    <span>Coffee Script result of times = (a, b) -> a * b; times(2,5): <%= coffee_result %><br/>
</div>
