{@include src="ui/index.css" /}
{@include src="lib/simplify.js" /}
{@include src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzjriTT6cz9Cp6E8sLd8YFKNpMxtZNpd4&libraries=places" /}
{@include src="ui/index.js" /}

<div class="content">
    ...
</div>
<div class="position">
    ...
</div>
<div class="lang">
    <select id="lang-select">
    </select>
</div>
<div class="itinary">
    <div class="input">
        <button id="load1"><i class="fa fa-arrow-circle-right"></i></button>
        <div class="input-container">
            <input type="text" class="input-field" id="i1-f1" value="index.home.raft"/>
            <!--.<input type="text" class="input-field" id="i1-f2" maxlength="18" value="home"/>.<input type="text" class="input-field" id="i1-f3" maxlength="18" value="raft"/>-->
        </div>
        <button id="search"><i class="fa fa-search"></i></button>
    </div>
    <div class="to">To</div>
    <div class="input">
        <button id="load2"><i class="fa fa-arrow-circle-right"></i></button>
        <div class="input-container"> 
            <input type="text" class="input-field" id="i2-f1" value="habit.joggers.restriction"/><!--.<input type="text" class="input-field" id="i2-f2" maxlength="18" value="joggers"/>.<input type="text" class="input-field" id="i2-f3" maxlength="18" value="restriction"/>-->
        </div>
        <button id="itinary">itinerary</button>
    </div>
</div>
<div class="width-calculator"></div>