<% include('ui/index.css') %>
<% include('ui/index.js') %>

<div class="what3words-ui">
    <div class="ui-header">
        what3words
    </div>
    <div class="what3words-content">
        ...
    </div>
    <div class="what3words-position">
        ...
    </div>
</div>