{@include src="ui/index.css" /}
{@include src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzjriTT6cz9Cp6E8sLd8YFKNpMxtZNpd4&libraries=places" /}

<input id="search-input" type="text" placeholder="Search Box">