{@include src="ui/style.css" /}
<div id="container">
	<button id="login_btn" class="btn"><i class="fa fa-instagram"></i> sign in</button>
    <button id="logout_btn" class="btn"><i class="fa fa-sign-out"></i> sign out</button>
    <button id="me_btn" class="btn"><i class="fa fa-eye"></i> me</button>
    <div id="auth_features">
        <input type="text" id="search_input"/>
        <button id="search_btn" class="btn"><i class="fa fa-search"></i> search</button>
        <div class="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="results">
            
        </div>
    </div>
</div>