{@include src="ui/style.css" /}
<div id="container">
    <div id="welcome">
        <p>
            This application will allow you to visualize where your instagram pictures have been taken.<br/>
            You only need to sign in and it will display pictures tagged with a location.<br/>
            You want to see someone else account ? This is also possible as long as it is one of your friend or a public profil.
        </p>
        <button id="login_btn" class="btn"><i class="fa fa-instagram"></i> sign in</button>
    </div>
    <button id="logout_btn" class="btn"><i class="fa fa-sign-out"></i> sign out</button>
    <button id="me_btn" class="btn"><i class="fa fa-eye"></i> me</button>
    <div id="auth_features">
        <input type="text" id="search_input"/>
        <button id="search_btn" class="btn"><i class="fa fa-search"></i> search</button>
        <div class="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="results">
            
        </div>
    </div>
</div>