html, body {
    background-color: #f5f5f5 !important;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.ribbon {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,4c4c4c+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #4c4c4c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000000 0%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000000 0%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */

    /*
    background: #ff6549;
    background: -moz-linear-gradient(top, #ff6549 0%, #e0513a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6549), color-stop(100%,#e0513a));
    background: -webkit-linear-gradient(top, #ff6549 0%,#e0513a 100%);
    background: -o-linear-gradient(top, #ff6549 0%,#e0513a 100%);
    background: -ms-linear-gradient(top, #ff6549 0%,#e0513a 100%);
    background: linear-gradient(to bottom, #ff6549 0%,#e0513a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6549', endColorstr='#e0513a',GradientType=0 );
    */
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    /*
    right: -42px;
    top: 8px;
    */
    right: -48px;
    top: 28px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 3px #888;
    -moz-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}
.ribbon span {
/*    border: 1px dashed rgba(95, 8, 8, 0.35);*/
    border: 1px dashed rgba(255, 255, 255, 0.7);
    color: #fff;
    display: block;
    font: bold 81.25% 'Nexa-light', Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 2px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    /*    text-shadow: 0 0 1px rgb(68, 68, 68);*/
}

#citrongis-logo {
    position: absolute;
    right: 0;
    bottom: -70;
    pointer-events: none;
}

#citrongis-logo img {
    width: 400px;
}

#citrongis, .main {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
}

#background-citrongis {
    font-size: 180px;
    text-align: center;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-family: 'Source Code Pro';
    color: #d4d4d4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

#grid {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
}

#testextension {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 40px;
    background-color: #d8d8d8;
    border: 4px dashed #b7b7b7;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#file {
    margin-left: 10px;
    margin-top: 3px;
    font-size: initial !important;
    width: 280px;
}

#select_tilelayer {
    position: absolute;
    top: 50px;
    right: 22px;
}
