.layer-manager-ui {
    left: 500px;
    top: 200px;
    width: 300px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
    background-color: rgba(247, 247, 247, 0.95);
    border-bottom: 4px solid rgb(154, 171, 239);
    box-sizing: border-box;
    pointer-events: all;
}

.layer-manager-ui > .ui-header {
    padding: 6px 10px;
    font-family: 'nexa-light';
    font-size: 20px;
    border-bottom: 1px solid rgb(205, 205, 205);
    background-color: white;
    color: #1B1B1B;
    cursor: move;
}

.layer-manager-ui .groups {
    max-height: 400px;
    overflow-y: auto;
}

.layer-manager-ui .group > .header {
    font-family: 'nexa-light';
    font-size: 16px;
    padding-left: 10px;
    height: 30px;
    background-color: rgb(231, 231, 231);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(244, 244, 244);
    line-height: 30px;
}

.layer-manager-ui .group > .header .action {
    font-size: 13px;
    margin-right: 7px;
    cursor: pointer;
}

.layer-manager-ui .layer > .header {
    font-family: 'nexa-light';
    font-size: 16px;
    padding-left: 31px;
    height: 25px;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(234, 234, 234);
    border-top: 1px solid rgb(249, 249, 249);
    line-height: 25px;
    color: black;
}

.layer-manager-ui .layer > .header .action {
    font-size: 13px;
    margin-right: 7px;
    cursor: pointer;
}

.layer-manager-ui .layer.disable .header {
    background-color: rgb(240, 240, 240);
    color: #A0A0A0;
}

.layer-manager-ui .group.disable {
    opacity: .6;
}

.layer-manager-ui .layers {

}

.layer-manager-ui .options {
    height: 30px;
    background-color: rgb(154, 171, 239);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.07);
}
