<% include('ui/index.css') %>
<% include('ui/index.js') %>

<div class="layer-manager-ui">
    <div class="ui-header">
        Gestionaire de calques
    </div>
    <div class="content">
        <div class="groups">
            <div class="group disable">
                <div class="header">
                    <span class="action">
                        <i class="fa fa-minus-square-o"></i>
                    </span>
                    <span class="action">
                        <i class="fa fa-square-o"></i>
                    </span>
                    group name
                </div>
                <div class="layers">
                    <div class="layer disable">
                        <div class="header">
                        <span class="action">
                            <i class="fa fa-square-o"></i>
                        </span>
                        layer name
                        </div>
                    </div>
                    <div class="layer">
                        <div class="header">
                        <span class="action">
                            <i class="fa fa-square-o"></i>
                        </span>
                        layer name
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="options">
        </div>
    </div>
</div>