{@include src="lib/semantic/semantic.css" /}
{@include src="ui/index.css" /}
{@include src="ui/index.js" /}

<div class="ui tabular menu">
  <div class="item active" data-tab="tab-name">Code</div>
  <div class="item" data-tab="tab-name2">Interface</div>
  <div class="item" data-tab="tab-name3">Style</div>
  <div class="item" data-tab="tab-name4">Examples</div>
</div>
<div class="ui tab active" data-tab="tab-name">
  <div id="editor_code"></div>
</div>
<div class="ui tab" data-tab="tab-name2">
  <div id="editor_interface"></div>
</div>
<div class="ui tab" data-tab="tab-name3">
  <div id="editor_style"></div>
</div>
<div class="ui tab" data-tab="tab-name4">
    <div id="examples">
        <div class="example">
            <p>Random Point</p>
            <button>Load</button>
            <div class="cover"></div>
        </div>
        <div class="example">
            <p>Random Point</p>
            <button>Load</button>
            <div class="cover"></div>
        </div>
        <div class="example">
            <p>Random Point</p>
            <button>Load</button>
            <div class="cover"></div>
        </div>
        <div class="example">
            <p>Random Point</p>
            <button>Load</button>
            <div class="cover"></div>
        </div>
    </div>
</div>
<div class="launch_btn">
    <div id="card">
        <figure class="front"><i class="fa fa-play"></i> RUN</figure>
        <figure class="back"><i class="fa fa-rocket"></i> COMPILING</figure>
    </div>

</div>