<div id="sign-in-view">
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <div class="card-panel bg-green-blue"><h5>Sign In</h5></div>
        </div>
    </div>
    <div class="row">
        <div class="col s4 m4 l4 offset-s4 offset-m4 offset-l4 ">
            <img class="circle responsive-img z-depth-3" src="ressources/menu/menu_user.png" style="border: solid;"/>
        </div>
    </div>
    <div class="row">
        <form class="col s12 m12 l12">
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="switch col s12 m12 l12 center-align">
                    <label>
                        <input id="remember" type="checkbox">
                        <span class="lever"></span><span>Remember me</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <a id="sign-in" class="btn waves-effect waves-light col s12 m10 l6 offset-m1 offset-l3 bg-green-blue dark-blue">Sign In <span  class="material-icons vertical-align padding-left-10 hide-on-small-only">send</span></a>
            </div>

            <div class="row">
                <a id="dont-remember" class="btn waves-effect waves-light col s12 m10 l6 offset-m1 offset-l3 bg-green-blue dark-blue">I don't remember</a>
            </div>
        </form>
    </div>
    <footer>
        <div class="footer-copyright">
            <div class="container">
                <a id="sign-up" class="dark-blue text-lighten-4 right underline" href="#!">Sign Up</a>
            </div>
        </div>
    </footer>
</div>
<!------------------------------------------------------------------------------------>
<div id="sign-up-view" class="hide">
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <div class="card-panel bg-green-blue"><h5>Sign Up</h5></div>
        </div>
    </div>
    <div class="row">
        <div class="col s4 m4 l4 offset-s4 offset-m4 offset-l4 ">
            <img class="circle responsive-img z-depth-3" src="ressources/menu/menu_user.png" style="border: solid;"/>
        </div>
    </div>
    <div class="row">
        <form class="col s12 m12 l12">
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <input id="password-again" type="password" class="validate">
                    <label for="password">Password again</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12 m12 l12">
                    <input type="checkbox" class="filled-in" id="filled-in-box"/>
                    <label for="filled-in-box">I accept the <a class="modal-trigger" href="#cg-modal">general conditions</a></label>
                </div>
            </div>
            <div class="row padding-top-20">
                <a id="sign-in" class="btn waves-effect waves-light col s12 m10 l6 offset-m1 offset-l3 bg-green-blue dark-blue">Sign Up <span  class="material-icons vertical-align padding-left-10 hide-on-small-only">send</span></a>
            </div>
        </form>
    </div>
</div>


<!-- CG Modal-->
<div id="cg-modal" class="modal">
    <div class="modal-content">
        <h4>General Conditions</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<script src="js/user.js"></script>
    
