<div class="row">
    <div class="col s12 m12 l12 center-align">
        <div class="card-panel bg-green-blue"><h5>Sign in</h5></div>
    </div>
</div>
<div class="row">
    <div class="col l2 offset-l5 ">
        <img class="circle responsive-img z-depth-3" src="ressources/menu/menu_user.png" style="border: solid;"/>
    </div>
</div>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="switch col l12 center-align">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                    Remember me
                </label>
            </div>
        </div>
        <div class="row">
            <p class="btn-large waves-effect waves-light col l4 offset-l4 bg-green-blue dark-blue">Sign In <span  class="material-icons vertical-align padding-left-10">send</span></p>
        </div>
        
        <div class="row">
            <p class="btn waves-effect waves-light col l4 offset-l4 bg-green-blue dark-blue">I don't remember<span  class="material-icons vertical-align padding-left-10">send</span></p>
        </div>

    </form>
</div>

