{@include src="ui/style.css" /}
{@include src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"/}

<div class="content">
    <div class="fix_btn">
        <i class="fa fa-square-o"></i>
        <span>Center on ISS</span>
    </div>
</div>