.scale-ui {
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0px 10px;
}

.scale-bar {
    width: 10px;
    height: 8px;
    display: inline-block;
    border: 2px solid #383838;
    background-color: rgba(255, 255, 255, 0.44);
    border-top: none;
}

.scale-val {
    font-family: 'Source Code Pro';
    font-size: 15px;
}
