#drop_zone {
    width: 300px;
    height: 100px;
    margin: 5px;
    font-family: 'nexa-light';
    text-align: center;
    line-height: 100px;
    border: 4px dashed #b7b7b7;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

#drop_zone [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.drag_end {
    border-color: black !important;
}

.properties {
    max-height: 400px;
    overflow-y: auto;
}

#loading_info, .properties {
    font-family: 'Nexa-light';
    font-size: 15px;
}

#loading_info {
    text-align: center;
}
