{@include src="ui/index.css"/}
{@include src="ui/index.js"/}
{@include src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"/}

<div class="content">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#english" aria-controls="english" role="tab" data-toggle="tab">English</a></li>
    <li role="presentation"><a href="#francais" aria-controls="francais" role="tab" data-toggle="tab">Français</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- English version -->
    <div role="tabpanel" class="tab-pane active" id="english">
        <div role="tabpanel" class="tab-pane" id="english">
    
        
        <h1 class="welcome-title">Welcome on CitronGIS!</h1>

        <p class="alinea"><strong>C</strong>itronGIS is an application that will help you work with geographical data!</p>

        <p class="alinea"><strong>W</strong>e are currently in beta, therefore all you feedback are welcome. You can as well contact us if you have any suggestions, improvements, questions. Please ask!</p>

        <p class="alinea"><strong>Y</strong>ou can use the chat which is on the bottom left of your screen or send us an email at <a href="mailto:romain.gabilan@epitech.eu?subject=[CitronGIS][BETA] Feedback">romain.gabilan@epitech.eu</a>.</p>

        <p><strong>T</strong>hank you so much for your help.</p>

        <p><strong>C</strong>itronGIS  Team<i class="fa fa-smile-o"></i></p>
        <p><strong>/!\</strong> CitronGIS is optimized for google chrome, we recommend it over other browsers for better result.</p>

        <div class="footer">
            <a href="https://www.facebook.com/citrongisfr" target="_blank"><i class="fa fa-facebook-official"></i></a>
            <a href="https://twitter.com/CitronGIS" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="http://eip.epitech.eu/2016/citrongis/" target="_blank"><i class="fa fa-link"></i></a>
            <a href="mailto:romain.gabilan@epitech.eu?subject=[CitronGIS][BETA] Feedback"><i class="fa fa-envelope"></i></a>
        </div>    
    </div>    
    </div>
    <!-- French version -->
    <div role="tabpanel" class="tab-pane" id="francais">
    
        
        <h1 class="welcome-title">Bienvenue sur CitronGIS!</h1>

        <p class="alinea"><strong>C</strong>itronGIS est une application qui va faciliter l’exploitation de vos données géographiques !</p>

        <p class="alinea"><strong>N</strong>ous sommes actuellement en bêta donc tous vos retours sont les bienvenus. Vous pouvez également nous contacter si vous avez des suggestions, des améliorations ou des questions. N’hésitez pas.</p>

        <p class="alinea"><strong>P</strong>our cela vous pouvez utiliser le chat qui est en bas à gauche de votre écran ou nous envoyer un mail directement à <a href="mailto:romain.gabilan@epitech.eu?subject=[CitronGIS][BETA] Feedback">romain.gabilan@epitech.eu</a>.</p>

        <p><strong>M</strong>erci d’avance de votre aide.</p>

        <p><strong>L</strong>’équipe de CitronGIS <i class="fa fa-smile-o"></i></p>
        
        <p><strong>/!\</strong> CitronGIS est optimisé pour google chrome, nous le recommendons pour de meilleur résultat.</p>

        <div class="footer">
            <a href="https://www.facebook.com/citrongisfr" target="_blank"><i class="fa fa-facebook-official"></i></a>
            <a href="https://twitter.com/CitronGIS" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="http://eip.epitech.eu/2016/citrongis/" target="_blank"><i class="fa fa-link"></i></a>
            <a href="mailto:romain.gabilan@epitech.eu?subject=[CitronGIS][BETA] Feedback"><i class="fa fa-envelope"></i></a>
        </div>    
    </div>
  </div>
</div>