.content when (@mobile = false) {
    width: 550px;
    text-align: justify;
    font-family: 'nexa-light';
    background-color: white;
    height: 100%;
}

.content when (@mobile = true) {
    width: 100%;
    text-align: justify;
    font-family: 'nexa-light';
    background-color: white;
    height: 100%;
}

.tab-content {
    margin: 15px;
}

.fa {
    padding-right: 20px;
}

.footer {
    text-align: center;
}

.welcome-title {
    text-align: center;
}

p {
    line-height: 25px;
}
