{@include src="ui/index.css"/}
{@include src="ui/index.js"/}
{@include src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"/}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="content">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#english" aria-controls="english" role="tab" data-toggle="tab">English</a></li>
    <li role="presentation"><a href="#francais" aria-controls="francais" role="tab" data-toggle="tab">Français</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="english">Hello my name is Romain</div>
    <div role="tabpanel" class="tab-pane" id="francais">Bonjour je m'appelle Romain</div>
  </div>
</div>