#container {
    text-align: left;
    background-color: white;
    overflow: hidden;
    font-family: 'Nexa-light';
    min-width: 350px;
}

#client_list {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
}

.edit {
    border: 1px solid #B52E1F;
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    background-color: #EF4836;
    color: white;
}

.delete {
    border: 1px solid #B52E1F;
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 0px 4px 4px 0px;
    background-color: #EF4836;
    color: white;
}

.info {
    margin: 5px 10px;
}

.info .fa {
    display: inline-block;
    width: 20px;
    text-align: center;
}

#client_id, #client_map {
    margin-left: 5px;
}

.feature_property {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 30px;
}

.feature_property img {
    width: 30px;
}

.feature_property input {
    position: absolute;
    right: 0;
    width: 70px;
    text-align: right;
}

.draw_btn {
    background-color: #FF5722;
    border: 1px solid #D84315;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15) inset;
    outline: none;
}

.draw_btn.active {
    border-bottom: 3px solid #D84315;
    box-shadow: none;
}

.drawing_tools {
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.picto_list {
    width: 500px;
    max-height: 300px;
    overflow-y: auto;
}

.picto_list img {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.selected {
    box-shadow: 0px -1px 0px 0px #EF4836 inset;
}

.display_viewport_btn {
    padding: 10px;
    cursor: pointer;
}

.display_viewport_btn span {
    margin-left: 10px;
}

.map_form {
    padding: 10px;
}

.map_form input {
    float: right;
}

#map_connect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #EF4836;
    font-family: 'nexa-light';
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 6px 10px;
    cursor: pointer;
    margin-top: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    border: none;
}
