.loader {
    height: 15px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.loader .bar {
    height: 15px;
    width: 0%;
    background-color: #d4d4d4;
}

.loader .info {
    color: #d4d4d4;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Source Code Pro';
}
