.distance-ui {
    left: 500px;
    top: 500px;
    width: 200px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
    background-color: rgba(247, 247, 247, 0.95);
    border-bottom: 4px solid rgb(154, 171, 239);
    box-sizing: border-box;
    pointer-events: all;
}

.distance-ui > .header {
    padding: 6px 10px;
    font-family: 'nexa-light';
    font-size: 20px;
    border-bottom: 1px solid rgb(205, 205, 205);
    background-color: white;
    color: #1B1B1B;
}

.distance-ui-cat {
    padding: 6px 10px;
    font-family: 'nexa-light';
    color: #646464;
    font-size: 16px;
    cursor: pointer;
}

.distance-ui-cat > i {
    margin-right: 10px;
}

.distance-ui-measure {
    background-color: #EF4836;
    font-family: 'nexa-light';
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 6px 10px;
    cursor: pointer;
}

.distance-ui-info {
    padding: 6px 10px;
    text-align: right;
    font-family: 'nexa-light';
    font-size: 13px;
}




/*
.distance-ui > .content {
cursor: pointer;
font-family: 'Source Code Pro';
font-weight: 400;
background-color: #EF4836;
color: white;
}
*/

/*
.distance-ui > .content:hover {
background-color: #e74c3c;
}

.distance-ui > .content:active {
background-color: #D64541;
}

.distance-ui > .processing {
background-color: #F89406;
}

.distance-ui > .content > .text {
font-size: 15px;
margin-left: 10px;
}

.distance-ui > .content .fa {
font-size: 20px;
}
*/
