<% include('ui/index.css') %>
<% include('ui/index.js') %>

<div class="distance-ui">
    <div class="header">
        Outils de mesure
    </div>
    <div class="content">
        <div class="distance-ui-cat" id="distance-ui-distance"><i class="fa fa-check-square-o"></i>Distance</div>
        <div class="distance-ui-cat" id="distance-ui-aire"><i class="fa fa-square-o"></i>Aire</div>
        <div class="distance-ui-measure">mesurer</div>
        <div class="distance-ui-info"></div>
    </div>
</div>