{@include src="ui/index.css" /}
{@include src="ui/index.js" /}

<div class="content">
    <div class="cat" id="distance"><i class="fa fa-check-square-o"></i>Distance</div>
    <div class="cat" id="aire"><i class="fa fa-square-o"></i>Aire</div>
    <div class="measure">mesurer</div>
    <div class="edit">editer</div>
    <div class="info"></div>
</div>