<% include('ui/style.css') %>
<% include('ui/bootstrap.min.css') %>


<div class="velib-ui" id="velib_window">
    <h1 id="velib_title" class="ui-header">Liste des vélib</h1>
    <div id="velib_list">
    </div>
</div>