<% include('ui/index.css') %>
<% include('lib/spectrum.css') %>
<% include('lib/spectrum-min.js') %>
<% include('ui/index.js') %>

<div class="ui">
    <div>Fill color: <input id="fill_color"/></div>
    <div>Outline color: <input id="outline_color"/></div>
</div>